body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    width: 100%;
    height: 50vh;
} 
.border {
    display: flex;
    justify-content: center;
}
.container-logo {
    margin-top: 10vh;
    color: rgb(249, 42, 76);
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-input {
    width: 30%; 
    height: 50vh; 
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: space-around;
    margin-top: 5vh; 
    border-radius: 5px; 
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
} 
  
label { 
    color: rgb(255, 255, 255);
    font-weight: 400;
}
select {
    border: none; 
    border-radius: 10px;
    padding: 15px;
}
input {
    font-weight: 600;
    border: none; 
    border-radius: 10px;
    padding: 10px; 
    margin-bottom: 10px;
} 
button {
    width: 20vh;
    color: white;
    border: none; 
    background-color: rgb(246, 47, 83); 
    border-radius: 10px; 
    padding: 10px;
} 
button:hover {
    padding: 11px;
    cursor: pointer;
}  
.button {
    display: flex;
    justify-content: center;
}
.selec {
    color: grey;
} 
.box-msg {  
    
    padding: 50px;
    top: 27vh;
    left: 67vh;
    bottom: 60vh;
    position: absolute;
    background-color: rgb(223, 223, 223);
    border-radius: 5px;
    width: 30%;
    height: 5vh;
    color: rgb(0, 0, 0);
    font-weight: 600;
    margin-top: 10px;
    display: none;
    text-align: center;
}  
#msg {
    margin-bottom: 20px;
}
  
/* Tabela precos */ 
.text-tabela {
    margin-top: 10px;
    text-align: center; 
    font-weight: 600; 
    color: #d53369;
}
.box-precos {
    width: 50%;
    background: linear-gradient(90deg, #d7f9dc 0%, #c1d5f7 100%);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    margin-left: 14vh; 
    border-radius: 5px; 
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
} 
#service {
    margin-top: 20px; 
    margin-bottom: 20px;
}
.precos { 
    height: 4vh;
    display: flex;  
    align-items: center;
    color: rgb(249, 42, 76);
} 
    
    
    
    
.text-precos {
    margin-left: 5px;
    font-size: 15px;
    font-weight: 600;
}
   
    

@media only screen and (max-width: 472px) {
    .container-logo {
        margin-bottom: 10px; 
        
    } 
    .container-input {
        width: 90%;
        height: 50vh;
    }
    input {
        margin-top: 10px; 
        margin-bottom: 10px
    }  
    button {
        margin-top: 20px;
    } 
    select {
        margin-top: 10px;
    }
    .button {
        display: flex;
        justify-content: center;
    }
   
}

    




